@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('/fonts/Cereal-Medium.woff2') format('woff2'),
    url('/fonts/Cereal-Medium.tff') format('tff');
}

@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url('/fonts/Cereal-Bold.woff2') format('woff2'), url('/fonts/Cereal-Bold.tff') format('tff');
}

@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('/fonts/Cereal-Book.woff2') format('woff2'), url('/fonts/Cereal-Book.tff') format('tff');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('/fonts/Cereal-Book.woff2') format('woff2'), url('/fonts/Cereal-Book.tff') format('tff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: Graphik;
}

h1 {
  font-family: Cereal;
  color: #2f3f4f;
}

a {
  text-decoration: none;
}
